

@body-background: #e8e8e8;

// header
@header-pc-width: 450px;
@header-background: white;
@avatar-size: 150px;
@avatar-height: 300px;
@avatar-up: 200px;
@avatar-top: -75px;
@social-icon-size: 30px;

@avatar-mobile-size: 40px;
@avatar-mobile-height:50px;
@avatar-mobile-up: 50px;
@avatar-mobile-top: -45px;
@social-mobile-icon-size: 20px;

@avatar-up-color: #444;
@avatar-down-color: white;