- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    title= pageTitle
    include head.pug

  body
    .wrap
      include mobile-header.pug
      include sidemenu.pug
      .content
        block content
        include footer.pug

    //- include footer.pug
    include _thirdparty/scripts.pug
    include _thirdparty/mathjax.pug
    include _thirdparty/highlightjs.pug
      

